@tailwind base;
@tailwind components;
@tailwind utilities;

* width */
.scbar{
  display: block;
}
.scbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scbar::-webkit-scrollbar-track {
 background-color: transparent;
}
 
/* Handle */
.scbar::-webkit-scrollbar-thumb {
  background: #353C54; 
  border-radius: 10px;
}

/* Handle on hover */
.scbar::-webkit-scrollbar-thumb:hover {
  background: #1B233E; 
}

.menuHov:hover{


 background:  radial-gradient(circle at top left , #9C60B4 12.81%, #186ED0 100%);

}
.menuHov:hover >div>svg { color: white; }
.campglass{
  /* From https://css.glass */
background: rgba(0, 0, 0, 0.16);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.9px);
-webkit-backdrop-filter: blur(5.9px);

}
.logoglass{

/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);



}
.cardglass{
/* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.06);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.4px);
-webkit-backdrop-filter: blur(5.4px);

}
.statusglass{
/* From https://css.glass */
background: rgba(0, 0, 0, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.8px);
-webkit-backdrop-filter: blur(2.8px);


}
.btnglass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.5px);
-webkit-backdrop-filter: blur(2.5px);
border: 1.5px solid rgba(255, 255, 255, 0.3);
}
.listglass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.5px);
-webkit-backdrop-filter: blur(2.5px);
border: 1.5px solid rgba(255, 255, 255, 0.3);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #1B233E;
  }
}
